{% extends '@UxAdmin/main.html.twig' %}
{% block tag_body %}
<body class="pace-top">
{% endblock %}

{% block page_body %}
		<!-- begin login -->
		<div class="login login-v1">
			<!-- begin login-container -->
			<div class="login-container">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>Color</b> Admin
						<small>responsive bootstrap 4 admin template</small>
					</div>
					<div class="icon">
						<i class="fa fa-lock"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-body -->
				<div class="login-body">
					<!-- begin login-content -->
					<div class="login-content">
						<form action="{{ path('ux_admin_security_logincheck') }}" method="POST" class="margin-bottom-0">
							<div class="form-group m-b-20">
								<input id="username" name="_username" value="{{ last_username }}" type="text" class="form-control form-control-lg inverse-mode" placeholder="User Name or Email Address" required />
							</div>
							<div class="form-group m-b-20">
								<input id="password" name="_password" type="password" class="form-control form-control-lg inverse-mode" placeholder="Password" required />
							</div>
							<div class="checkbox checkbox-css m-b-20">
								<input type="checkbox" id="remember_me" name="_remember_me" />
								<label for="remember_me">
								Remember Me
								</label>
							</div>
							<input type="hidden" name="_target_path" value="{{ target_path ?? 'ux_admin_default_index' }}" />
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
							<div class="login-buttons">
								<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
							</div>
						</form>
					</div>
					<!-- end login-content -->
				</div>
				<!-- end login-body -->
{% if error %}
					<div class="m-t-20">
						<h5 class="text-danger text-center">
							{{ error.messageKey | trans(error.messageData, 'security') }}
						</h5>
					</div>
{% endif %}
			</div>
			<!-- end login-container -->
		</div>
		<!-- end login -->
{{ include('@UxAdmin/theme-panel.html.twig') }}
	</div>
	<!-- end page container -->

{% endblock %}

