<!-- BEGIN #top-menu -->
<div id="top-menu" class="app-top-menu">
	<!-- BEGIN menu -->
	<div class="menu">
{% macro renderHeaderSubMenu(menu) %}
	{%~ for m in menu %}
						<div class="menu-item {{ m.sub_menu ?? '' ? 'has-sub' }}">
							<a href="{{ m.url }}" class="menu-link"><div class="menu-text">
									{{-m.title }}
		{%-if m.highlight ?? ''-%}
									<i class="fa fa-paper-plane text-theme ms-1"></i>
		{%-endif-%}
							</div>
		{%-if m.caret ?? '' %}
							<div class="menu-caret"></div>
		{%-endif-%}
							</a>
		{%~if m.sub_menu ?? '' %}
							<div class="menu-submenu">
								{{~_self.renderHeaderSubMenu(m.sub_menu) }}
							</div>
		{%~endif %}
						</div>
	{%~endfor %}
{% endmacro %}

{% for m in menu %}
				<div class="menu-item {{ m.sub_menu ?? '' ? 'has-sub' }}">
					<a href="{{ m.url }}" class="menu-link">
	{%~if m.img ?? '' %}
						<div class="menu-icon-img"><img src="{{ asset(m.img, uxadmin) }}" /></div>
	{%~endif %}
	{%~if m.icon ?? '' %}
						<div class="menu-icon"><i class="{{ m.icon }}"></i></div>
	{%~endif %}
						<div class="menu-text">
							{{-m.title-}}
	{%-if m.label ?? '' -%}
							<span class="menu-label">{{ m.label }}</span>
	{%-endif-%}
						</div>
	{%~if m.badge ?? '' %}
						<div class="menu-badge">{{ m.badge }}</div>
	{%~endif %}
	{%~if m.caret ?? '' %}
						<div class="menu-caret"></div>
	{%~endif %}
					</a>
	{%~if m.sub_menu ?? '' %}
					<div class="menu-submenu">
						{{~ _self.renderHeaderSubMenu(m.sub_menu) }}
					</div>
	{%~endif %}
				</div>
{% endfor %}
		<div class="menu-item menu-control menu-control-start">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-menu-prev"><i class="fa fa-angle-left"></i></a>
		</div>
		<div class="menu-item menu-control menu-control-end">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-menu-next"><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
	<!-- END menu -->
</div>
<!-- END #top-menu -->
